$img: '../img/';
$font: 'Helvetica Neue', Roboto, Lato, Arial, sans-serif;

$wrap-width-desctop:	1100px;

// colors
$white:					#fff;
$grey-border: 			#d6d7d8;
$grey-cards-bg:			#ebedee;
$light-grey-text:		#aaabab;
$grey-bg:				#ebedee;
$header_text: 			#383636;
$main:					#475055;
$warn: 					#ff8000;
$hover-services: 		#136cb3;
$danger:				#ff1022;

