$main_color: green;
$body_color: adjust-hue($main_color,75deg);
$toDo_color: adjust-hue($main_color,-33deg);
$add-input_color: #008cbb;
$add-btn_color: #333;
$add-btn--ictive_color: #555;
$add-btn-bg_color1:  rgba(164,179,87,1);
$add-btn-bg_color2:  rgba(133,153,17,1);
$add-btn-bg_color3:  rgba(117,137,12,1);
$text_color: #fff;
$title_color1: lighten($toDo_color, 20%);
$title_color2: adjust-hue($main_color,-70deg);
