html,
body {
    height: 100%;
}

body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    position: relative;
    width: 1060px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fff;
    color: #2c2c2c;
    font-size: 13px;
    box-shadow: 0 0 4px #bbb;
}

/* CONTAINER */

.conteiner {
    width: 965px;
    margin: 0 auto;
    padding-bottom: 145px;
    box-sizing: border-box;
}


/*  ---------- HEADER ---------- */

.logo {
    padding: 50px 0 40px;
}

nav {
    margin: 0 auto 40px;
    background: -moz-linear-gradient(top, #5e5e5e 0%, #535252 52%, #444343 100%);/* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5e5e5e 0%, #535252 52%, #444343 100%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5e5e5e 0%, #535252 52%, #444343 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-size: 0;
}


nav li {
    display: inline-block;
    margin-right: 36px;
    padding: 0 24px;
    border: 1px solid transparent;
    line-height: 40px;
    box-sizing: border-box;
}

nav li a {
    display: block;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

nav li:hover,
nav .active {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: -moz-linear-gradient(top, #4a4a4a 0%, #3e3e3e 52%, #2e2e2e 100%);/* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4a4a4a 0%, #3e3e3e 52%, #2e2e2e 100%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4a4a4a 0%, #3e3e3e 52%, #2e2e2e 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-sizing: border-box;
}

/*  ---------- SIDEBAR ---------- */

.sidebar {
    float: left;
}

.sidebar li {
    width: 240px;
    margin-bottom: -1px;
    line-height: 40px;
}

.sidebar li a {
    display: block;
    padding-left: 25px;
    border: 1px solid #c8c8c8;
    color: #656363;
    font-size: 13px;
    text-decoration: none;
    box-sizing: border-box;
}

.sidebar li a:hover,
.sidebar li .active {
    padding-left: 35px;
    background-color: #f9f9f9;
    color: #2c2c2c;
}

/* ----------  CONTENT ----------   */

.content {
    width: 675px;
    float: right;
}

.img {
    padding: 50px 80px;
    border: 1px solid #c8c8c8;
}

.content_text {
    padding: 40px 0 0 24px;
    line-height: 21.3px;
}

.conteiner::after {
    content: '';
    display: block;
    clear: both;
}


/* ----------  FOOTER  ---------- */

footer {
    position: absolute;
    bottom: 60px;
    left: 47px;
    width: 965px;
    height: 40px;
    margin: 0 auto;
}

.copyright {
    padding-right: 25px;
    float: right;
    line-height: 3;
}

.menu {
    background: #e1e1e1;
}

.menu li {
    display: inline-block;
    height: 40px;
    margin-right: 36px;
    padding: 0 24px;
    line-height: 3em;
}

.menu li a {
    color: #2c2c2c;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}
