@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Thin.eot');
    src: url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
         url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-Thin.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-ThinCond.eot');
    src: local('☺'),
         url('../fonts/HelveticaNeue-ThinCond.woff') format('woff'),
         url('../fonts/HelveticaNeue-ThinCond.ttf') format('truetype'), 
         url('../fonts/HelveticaNeue-ThinCond.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-ThinExt.eot');
    src: local('☺'),
         url('../fonts/HelveticaNeue-ThinExt.woff') format('woff'),
         url('../fonts/HelveticaNeue-ThinExt.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-ThinExt.svg') format('svg');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-ThinItalic.eot');
    src: local('☺'),
         url('../fonts/HelveticaNeue-ThinItalic.woff') format('woff'),
         url('../fonts/HelveticaNeue-ThinItalic.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-ThinItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

