html {
	height: 100%;
}

body {
	background-color: #282828;
	font-family: 'Helvetica Neue', Tahoma, Arial;
}

a {
	color: #fff;
	text-decoration: none;
}

header,
.wrapper {
	width: 1215px;
	margin: 0 auto;
	color: #fff;
}

header {
	height: 36px;
	background-image: url('../img/pattern-header.jpg');
	background-repeat: repeat-x;
	font-size: 14px;
}

.wrapper {
	min-height: 1030px;
	background-image: url('../img/bg2.jpg');
}

	/*HEADER*/

header div,
header ul {
	float: right;
}

.login,
.ofers,
.menu li {
	display: inline-block;
	padding: 0 14px;
	line-height: 36px;
}

.login {
	margin-right: 20px;
	border: 1px solid #4b9dd6;
	border-top: 0;
	background: linear-gradient(to top, #2e7ac4, #51b1dc);
	line-height: 35px;
}
.login a {
	text-decoration: underline;	
}

.ofers-align {
	vertical-align: center;
}

.vertical-line {
	height: 31px;
	width: 5px;
	margin-top: 2px;
	border-right: 1px solid #4b9dd6;
}

.menu li:hover,
.menu a:hover,
.menu .active {
	background-color: #4EABDA;
	color: #fff;
}

.menu li a {
	color: #5fb5ec;
}

	/*WRAPPER*/

.conteiner {
	width: 560px;
	height: 615px;
	margin: 0 auto;
	padding-top: 213px;
}

.top,
.registration {
	width: 100%;
	background-color: rgba(0, 0, 0, .63);
	text-align: center;
}

.top {
	height: 62px;
	font-size: 24px;
	line-height: 62px;
}

	/*REGISTRATION*/

.registration {
	height: 550px;
	margin-top: 2px;
	color: #cbcbcb;
}

.registration img {
	padding-top: 36px;
	margin: 0 auto;
}

table {
	width: 277px;
	margin: 30px auto;
	border-collapse: unset;
}

.OU {
	width: 30px;
	color: #999;
	font-size: 14px;
	vertical-align: middle;
}

.bd-top {
	border-bottom: 1px solid #666;
}

.bd-bottom {
	border-top: 1px solid #000;
}

	/*FORM*/

form > * {
	display: block;
	width: 277px;
	height: 36px;
	margin: 10px auto;
	color: #cbcbcb;
	border: 0;
}

input {
	padding-left: 19px;
	border-bottom: 1px solid #4a4a48;
	background: linear-gradient(to bottom, #111 0%, #0e0d0d 100%);
}

label {
	display: block;
	width: 300px;
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	text-align: left;
}


[type=submit] {
	width: 150;
	height: 34px;
	margin-bottom: 20px;
	padding: 0;
    border-radius: 5px;
	border: 1px solid #53a0da;
	background: linear-gradient(#50aedb 0%, #2e7ac4 100%);
}

p {
	color: #cbcbcb;
	font-size: 11px;
	line-height: 15px;
}
