* {
    margin: 0;
    padding: 0;
    font: 1em Helvetica, Arial,sans-serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

section {
    width: 1000px;
    margin: 60px auto 30px;
}

h1 {
    margin: 40px 0 20px;
    font-size: 35px;
    text-align: center;
}

.task1__wrapper {
    width: 100%;
    border: 1px solid #555;
    border-radius: 5px;
}

.area {
    width: 99%;
    margin: 3px auto;
    background-color: #fffca7;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.area div {
    float: left;
    margin: 5px 0 0 4px;
    padding: 3px 30px;
    border: 1px solid #aaa;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: rgba(96, 229, 222, 0.45);
}

.area .active {
    background-color: #007FFF;
    border: 1px solid #333;
    border-bottom: none;
    color: #fff;
}

.task1__wrapper p {
    display: none;
    margin: 40px;
}

p.show {
    display: block;
}

/*task2*/
.task2 {
    padding: 15px;
    background-color: #ddd;
}
form > div {
    position: relative;
    margin-bottom: 20px;
}

form div > span {
    position: absolute;
    top:   -3px;
    left: 280px;
    display: none;
    width: 220px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px #bbb;
    background-color: #eee;
    color: #999;
}

label {
    display: inline-block;
    width: 80px;
}
