* {
    margin: 0;
    padding: 0;
    font: 1em Helvetica, Arial,sans-serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

section {
    width: 1000px;
    margin: 60px auto 30px;
}

h1 {
    margin: 40px 0 20px;
    font-size: 35px;
    text-align: center;
    text-shadow: 1px 0 4px #444;
}

.task1__wrapper {
    width: 100%;
    height: 210px;
    border: 1px solid #555;
    border-radius: 5px;
    overflow: hidden;
}

.tab-list {
    width: 99%;
    margin: 3px auto;
    background-color: #fffca7;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.tab-list li {
    float: left;
    margin: 5px 0 0 4px;
    padding: 3px 30px;
    border: 1px solid #aaa;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #88e4ff;
    list-style: none;
}

.tab-list .active {
    background-color: #007FFF;
    border: 1px solid #333;
    border-bottom: none;
    color: #fff;
}

.tabs {
    position: relative;
}
.tab-item {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

#tab1 {
    visibility: hidden;
    opacity: 0;
    color: darkgreen;
    background: lightgreen;
}

#tab2 {
    visibility: hidden;
    opacity: 0;
    color: red;
    background: greenyellow;
}

#tab3 {
    visibility: hidden;
    opacity: 0;
    color: #333;
    background: yellowgreen;
}

/*task2*/
.task2 {
    padding: 15px;
    background-color: #ddd;
}
form > div {
    position: relative;
    margin-bottom: 20px;
}

form div > span {
    position: absolute;
    top:   -3px;
    left: 280px;
    visibility: hidden;
    width: 220px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px #bbb;
    background-color: #eee;
    color: #999;
    opacity: 0;
    transition: all .8s;
}

label {
    display: inline-block;
    width: 80px;
}

button {
    padding: 5px 15px;
    background-color: orange;
}
